[submodule "TitaniumDecompiler/vendor/GLFW"]
	path = TitaniumDecompiler/vendor/GLFW
	url = https://github.com/autun12/glfw
	branch = master
[submodule "TitaniumDecompiler/vendor/imgui"]
	path = TitaniumDecompiler/vendor/imgui
	url = https://github.com/autun12/imgui
	branch = docking